.left_item{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
}

.left_item:hover{
  box-shadow: inset 20em 1em rgb(197, 197, 194);
}

/* .left_item:active{
  font-weight: bold;
  color:gold;
  box-shadow: inset 20em 1em rgb(241, 241, 206);
} */

.text{
  text-align: left;
  margin-left: 10px;
  font-size: 20px;
  flex: 1;
}

.text2{
    text-align: left;
    font-size: 14px;
    margin-right: 5px;
  }
