.fade_color {
  transition-property: border-color, background-color, color;
  transition-duration: 0.5s, 0.5s, 0.5s;
  transition-timing-function: ease-in, ease-in, ease-in;
  transition-delay: 0.1s, 0.1s, 0.1s;
}

.flex_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* background-color: rgb(227, 234, 241); */
  border-radius: 5px;
  margin-bottom: 8px;
  padding: 8px;
  /* z-index: 2; */
}

.flex_item:hover{
  /* box-shadow: inset 200px 200px 200px rgb(197, 197, 194);
   */
   box-shadow: 
   inset 0 -3em 3em rgba(0,0,0,0.1), 
         0 0  0 2px rgb(255,255,255),
         0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.all_text {
  text-align: left;
  margin-left: 20px;
  flex: 1;
}

.step_text {
  /* background-color: rgb(227, 234, 241); */
  border: 0;
  font-size: 20px;
  /* color: #ffffff; */
}
