.flex_item1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #a1a7b4;
  padding:1em
}

.all_text1 {
  text-align: left;
  margin-left: 20px;
  flex: 1;
}

/* .text22 {
  background-color:#a1a7b4;
  border: 0;
  font-size: 20px;
} */
